.newSubscriptionForm {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.newSubscriptionForm > h3 {
    color: #787878;
}
