.newSubscriptionForm {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.newSubscriptionForm > h3 {
  color: #787878;
}

.newSubscriptionForm > input {
  width: 30%;
}

.newSubscriptionForm > input:focus {
  outline: none;
  border: #e02b8b 1px solid;
}

.durationCont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.dateContainer {
  display: flex;
  align-items: end;
  justify-content: start;
  width: 45%;
  margin-left: 10%;
  margin-right: auto;
}

.dateContainer > input:focus {
  outline: none;
  border: #e02b8b 1px solid;
}

.dateContainer > label,
.dateContainer > label {
  margin: auto 15px 0 auto;
  color: #787878;
  font-weight: 500;
  font-size: large;
}

.addSubscriptionBtn {
  background-color: #e02b8b;
  margin-top: 25px;
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: large;
  font-weight: bold;
  width: 10%;
  height: fit-content;
  padding: 10px 50px 10px 50px;
  cursor: pointer;
}
