.eventPreviewCont {
    background-color: #EDEDEE;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 90%;
    border-radius: 15px;
    margin-top: 15px;
    padding: 0 0 0 0;
}

.eventInfoCont {
    margin: 10px 10px 10px auto;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 70px;
}

.eventImgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.eventPreviewCont > h3 {
    color: #DC0D7A;
    font-size: medium;
}

.eventPreviewCont > p {
    color: #787878;
}

.eventImgContainer > img {
    height: 140px;
    width: 240px;
    margin-left: 40px;
}