.groupClassPreviewCont {
  background-color: #ededee;
  border-radius: 15px;
  width: 90%;
  height: fit-content;
  border-left: #add6ea solid 9px;
  margin-top: 15px;
  display: flex;
}

.indClassPreviewCont {
  background-color: #ededee;
  border-radius: 15px;
  width: 90%;
  height: fit-content;
  border-left: #ddbfd9 solid 9px;
  margin-top: 15px;
  display: flex;
}

.classPrevCont {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classInfoCont {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 30px;
}

.classInfoCont > p,
.classInfoCont > h3 {
  margin: 0 0 5px 0;
}

.studentClassStatus {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 30px auto auto;
}

.studentClassStatus > p {
  color: #DC0D7A;
  font-size: small;
  height: fit-content;
  border-radius: 3px;
  background-color: rgb(224, 43, 139, .15);
  padding: 1px 5px 1px 5px;
}
